header{
    width: 100px;
    }

    .logo{
        
        display:inline;
        margin:2rem 0;
    }



    @media only screen and (max-width:451px) {


       .logo{
        width: 23vw;
       }


    }